name: Build

on:
  workflow_dispatch:
    inputs:
      GamePackageName:
        description: 'Game package name'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Change GamePackageName
        run: |
          sed -i "s/#define GamePackageName \".*\"/#define GamePackageName \"${{ github.event.inputs.GamePackageName }}\"/" module/src/main/cpp/game.h
      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew :module:assembleRelease
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: zygisk-il2cppdumper
          path: out/*.zip
